<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

        <import resource="classpath:META-INF/cxf/cxf.xml" />
        
        <!-- Spring's component scan for identifying beans to be managed by the container. -->
	<context:component-scan base-package="au.edu.unsw.soacourse.topdown" />
        

        <jaxws:endpoint 
          id="SimpleServiceOne" 
          implementor="au.edu.unsw.soacourse.simple.SimpleServicesImpl" 
          address="/SimpleService" />
         
        <jaxws:endpoint 
          id="TopDownOne" 
          implementor="au.edu.unsw.soacourse.topdown.TopDownSimpleServiceImpl" 
          address="/TopDownSimpleService" />
</beans>
